<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carcare1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/carcareicon"
        android:label="CarCare"
        android:roundIcon="@color/colorPrimaryDark"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DeleteCar"></activity>
        <activity android:name=".ListNotification" />
        <activity android:name=".TestAndInsurance" />
        <activity android:name=".Garage" />
        <activity android:name=".FinancialReport" />
        <activity android:name=".Refueling" />
        <activity android:name=".CarListActivity" />
        <activity android:name=".GetUserName" />
        <activity android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddCarForm" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".VerifyPhoneActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NotificationService"
            android:label="CarCare">
            <intent-filter>
                <action android:name="app.tutorialspoint.com.notifyme.NotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>